html body {
  background-color: black;
  color: white;
}

/* Header */

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
}

header p {
  text-align: center;
}

header a {
  font-size: 16px;
  color: aquamarine;
}

header h2 {
  font-family: verdana;
  font-size: 42px;
  color: gray;
}

header h5 {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

/* Media */

header .phone-vid {
  display: flex
  align-items: center;
}

/* Footer */

footer i {

}
